<div class="row">
    <div class="col-lg-4 offset-lg-4">
        <h2 class="titulo">RESULTADO</h2>
        <div class="row">
            <div class="colo-lg-12">
                <div class="fondoitem">
                    <div class="contenedor">
                        <h3 class="resultado">{{result}}</h3>
                        <div class="styleNumber">
                            {{bmi}}
                            <span class="cm"> bmi </span>
                        </div>
                        <p class="interpretacion">{{interpretacion}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="colo-lg-12">
                <button routerLink="/" class=" btn btn-outline-info btn-lg btn-color ">Re~Calcular</button>
            </div><br>
        </div>
    </div>
</div>